.directBet {
}
.item {
  background-color: var(--break3);
  display: inline-block;
  padding: 6px;
  border-radius: 4px;
  position: relative;
  :global {
    .ant-input-number {
      width: 20px;
      input {
        text-align: center;
        padding: 0;
      }
    }
  }
}
.item .icon {
  position: absolute;
  right: -6px;
  top: -6px;
  font-size: 14px;
  color: var(--red);
  cursor: pointer;
}

.addBtn {
  height: 36px;
}
